<% @order_items.each do |item| %>
<p> <%= item.book.title %> | <%= link_to "Delete", order_item_path(item), :data => {:confirm => "You sure?", :method => "delete"} %></p>
<% end %>
<p>Your Total: <%= number_to_currency current_order.total_price %></p>
