<% @order_items.each do |item| %>
<p id ="<%= item.id %>"> <%= item.book.title %> | <%= link_to "Delete", order_item_path(item), remote: true, :data => {:confirm => "You sure?", :method => "delete"} %></p>
<% end %>
<p>Your Total: <span class="total"><%= number_to_currency current_order.total_price %></span></p>
